@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-100: #e8f5f0;
  --color-primary-200: #c7e6d7;
  --color-primary-300: #a5d7be;
  --color-primary-400: #62b98c;
  --color-primary-500: #18573f;
  --color-primary-600: #164e38;
  --color-primary-700: #124230;
  --color-primary-800: #0e3528;
  --color-primary-900: #0b2b20;
  --color-secondary-100: #fefcf5;
  --color-secondary-200: #fdf7e1;
  --color-secondary-300: #fcf2cd;
  --color-secondary-400: #f9e8a5;
  --color-secondary-500: #f7e8ab;
  --color-secondary-600: #c5ba89;
  --color-secondary-700: #948b67;
  --color-secondary-800: #625c44;
  --color-secondary-900: #312e22;
}

* {
  font-family: "Bricolage Grotesque", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
}

body {
  background: var(--color-secondary-100);
  color: #333;
}

a {
  @apply text-primary-500;
}

a:hover {
  @apply text-primary-700;
}

html {
  scroll-behavior: smooth;
}
